<div id="skills">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white lista" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0;">
            <i class="bi bi-person-raised-hand"></i>
            <h3>Soft Skills</h3>

            <p class="text-primary cabecera">
                Habilidades:
            </p>

            <ul>
                <li>Comunicación efectiva</li>
                <li>Resolución de problemas</li>
                <li>Trabajo en equipo</li>
                <li>Cratividad</li>
                <li>Pensamiento análitico</li>
            </ul>

        </div>

        <div class="col col-3 bg-white lista" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0;">
            <i class="bi bi-hdd-stack"></i>
            <h3>Hard Skills</h3>

            <p class="text-primary cabecera">
                Habilidades:
            </p>

            <ul>
                <li>C#</li>
                <li>Java</li>
                <li>ASP.NET Core MVC</li>
                <li>JavaScript</li>
                <li>SQL Server</li>
                <li>Git / Github</li>
                <li>Scrum</li>
                <li>PHP / Laravel</li>
            </ul>
        </div>

    </div>
</div>