
<div class="text-center">
    <h1 class="display-4">Soy Daniel Christian Méndez Castañeda </h1>
    <h2>Estudiante de Ingeniería en Informática de UPIICSA</h2>
    <img id="foto"
         src="~/images/xd.jpg" alt="Foto de Daniel" />

</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
            Te doy la bienvenida a mi página de presentación
        </h1>
        <p>
            Soy Daniel, un estudiante apasionado por la tecnología y los retos difíciles, cuento con una sólida base en programación y una mentalidad analítica
            ya que me gusta ser objetivo ante las situaciones que se presentan y encontrar una solución.
        </p>
    </div>

</div>
