
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>En breve contestaré tú mensaje</p>
<div><a asp-action="Index" asp-controller="Home">Volver al Home</a></div>
