@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Proyectos</h1>
    <p>Aquí yacen mis proyectos realizados</p>
</div>

<partial name="_seccionProyectos" model="Model"></partial>